appdirs==1.4.3
backports.functools-lru-cache==1.5
cheroot==6.5.4
CherryPy==18.1.1
jaraco.functools==2.0
Jinja2==2.9.6
MarkupSafe==1.0
more-itertools==7.0.0
packaging==16.8
portend==2.4
pyparsing==2.2.0
pytz==2017.2
six==1.12.0
tempora==1.14
zc.lockfile==1.4
